HW07/**/*.dat

**/*.swp
final_project/grant_application_document/*.aux
final_project/grant_application_document/*.bbl
final_project/grant_application_document/*.blg
final_project/grant_application_document/*.log
final_project/grant_application_document/*.run.xml
final_project/grant_application_document/*-blx.bib

final_project/status_report_*/*.aux
final_project/status_report_*/*.bbl
final_project/status_report_*/*.blg
final_project/status_report_*/*.log
final_project/status_report_*/*.run.xml
final_project/status_report_*/*-blx.bib
final_project/status_report_*/*.tex.backup

final_project/final_report/final_report.pdf
final_project/final_report/*.aux
final_project/final_report/*.bbl
final_project/final_report/*.blg
final_project/final_report/*.log
final_project/final_report/*.run.xml
final_project/final_report/*-blx.bib
final_project/final_report/*.tex.backup
