HW07/**/*.dat

**/*.swp
final_project/grant_application_document/*.aux
final_project/grant_application_document/*.bbl
final_project/grant_application_document/*.blg
final_project/grant_application_document/*.log
final_project/grant_application_document/*.run.xml
final_project/grant_application_document/*-blx.bib

final_project/status_report_0/*.aux
final_project/status_report_0/*.bbl
final_project/status_report_0/*.blg
final_project/status_report_0/*.log
final_project/status_report_0/*.run.xml
final_project/status_report_0/*-blx.bib
final_project/status_report_0/*.tex.backup
